{% extends "layout.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Hello, world</h1>
            <p>This is where text goes.</p>
        </div>
    </div>
    <div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>am efficiantur, at noster dicunt.Congue salutandi ex eam! Mei an prima consulatu, erat detracto eu quo? Vim ea esse utinam efficiantur, at noster dicunt.Congue salutandi ex eam! Mei an prima consulatu, erat detracto eu quo? Vim ea esse utinam efficiantur, at noster dicunt.Congue salutan</p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>am efficiantur, at noster dicunt.Congue salutandi ex eam! Mei an prima consulatu, erat detracto eu quo? Vim ea esse utinam efficiantur, at noster dicunt.Congue salutandi ex eam! Mei an prima consulatu, erat detracto eu quo? Vim ea esse utinam efficiantur, at noster dicunt.Congue salutan</p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View</a>
            </p>
        </div>
        <div class="col-md-4">
            <h2>Heading</h2>
            <p>am efficiantur, at noster dicunt.Congue salutandi ex eam! Mei an prima consulatu, erat detracto eu quo? Vim ea esse utinam efficiantur, at noster dicunt.Congue salutandi ex eam! Mei an prima consulatu, erat detracto eu quo? Vim ea esse utinam efficiantur, at noster dicunt.Congue salutan</p>
            <p>
                <a class="btn btn-secondary" href="#" role="button">View</a>
            </p>
        </div>
    </div>

    </div>

{% endblock content %}
